# <h1 style="text-align: center;">Introduction to Python </h1>

This section covers the basics of the Python language and setting up your development environment.

üîπ What is Python and Its History

Python is a high-level, interpreted programming language known for its readability and simplicity.
It was created by Guido van Rossum and first released in 1991. Python uses simple English-like syntax, making it ideal for beginners.

Key features of Python:

- Easy to read and write

- Interpreted (no compilation needed)

- Cross-platform

- Large standard library (93k+)

üîπ Installing Python and Setting Up the Development Environment

To start programming in Python, you need:

- Python Interpreter

- An IDE (Integrated Development Environment)

Common IDEs:

IDLE (comes with Python)

- Anaconda (popular for data science)

- VS Code (lightweight and powerful)

üîπAfter installation, you can check Python installation (in console or CMD prompt) using:
- **python** **--version**

üîπ Writing and Running Your First Program ("Hello, World!")

The traditional first program prints a message on the screen.

In [3]:
print("Hello, world!")

Hello, world!

Explanation:

- print() is a built-in function

- It displays text on the console

- "Hello, World!" is a string

üîπ Keywords, Identifiers, Syntax, and Indentation
1. **Keywords**

- Keywords are reserved words with special meanings.
- You cannot use keywords as variable names.
- Examples:
    - if
    - else
    - while
    - for
    - def
    - True
    - False

2. **Identifiers**

- Identifiers are names used for:

    - Variables

    - Functions

    - Classes

- Rules:

    - Must start with a letter or underscore (_)

    - Cannot start with a number

    - Cannot use keywords

Python syntax is simple and readable.

In [5]:
x = 10
y = 5
print(x + y)

15

3. **Indentation** (Very Important in Python)

Python uses indentation instead of braces {} to define code blocks.

In [6]:
if x > y:
    print("x is greater than y")

x is greater than y

In [ ]:
if x > y:
print("x is greater than y")  # Error

IndentationError: expected an indented block after 'if' statement on line 1 (2881553041.py, line 2)

- Explanation:

  Indentation tells Python which code belongs to the if block

  Incorrect indentation causes an IndentationError

üîπ What is a Variable?

A variable is a name that stores a value in memory.

- Example:

 age = 16

 name = "Sam"

- Explanation:

 age stores a number

 name stores text

Python automatically decides the data type

üîπ Rules for Naming Variables

    - Must start with a letter or underscore (_)
    - Cannot start with a number
    - Cannot use keywords
    - Case-sensitive (Age and age are different)

Valid:
- total_marks = 450
- _student = "Alex"

Invalid:
- 2name = "Sam"   # Error
- class = 10      # Error (keyword)

#### Data-Types In Python

1Ô∏è. **Integer** **(int)**

Stores whole numbers.

- score = 90
- year = 2025

2Ô∏è. **Floating-point** **(float)**

Stores decimal numbers.

- height = 5.6
- price = 99.99

3Ô∏è. **String** **(str)**

Stores text (inside quotes).

- city = "New York"
- message = "Python is fun"

4Ô∏è. Boolean (bool)

Stores True or False.

- is_student = True
- has_passed = False

##### Checking Data Types
Use the **type()** function.

In [8]:
x = 10
print(type(x))

<class 'int'>

üîπ Type Conversion (Typecasting)

Converting one data type into another.

Common Typecasting:
 - int("5")
 - float("3.14")
 - str(100)

Example:

In [9]:
a = "10"
b = int(a)
print(b + 5)

15

üîπ **User** **Input**

Use **input()** to take data from the user.

In [11]:
name = input("Enter your name: ")
print("Hello", name)

Hello Deepak

Note:
- input() always returns a string.

Converting Input:

In [12]:
age = int(input("Enter your age: "))
print(age + 1)

11

## Operators in Python

Operators are used to perform operations on values and variables.

#### 1. Arithmetic Operators

Used for mathematical calculations.

| Operator | Description              | Example  |
|--------|--------------------------|----------|
| `+`    | Addition                 | `10 + 5` |
| `-`    | Subtraction              | `10 - 5` |
| `*`    | Multiplication           | `10 * 5` |
| `/`    | Division                 | `10 / 5` |
| `%`    | Modulus (remainder)      | `10 % 3` |
| `**`   | Exponent (power)         | `2 ** 3` |
| `//`   | Floor division           | `10 // 3` |

In [13]:
a = 10
b = 3

print(a + b)    # 13
print(a - b)    # 7
print(a * b)    # 30
print(a / b)    # 3.333...
print(a % b)    # 1
print(a ** b)   # 1000
print(a // b)   # 3

13
7
30
3.3333333333333335
1
1000
3

#### 2. Assignment Operators

Used to assign and update values.

| Operator | Description                  | Example    |
|--------|------------------------------|------------|
| `=`    | Assign value                 | `x = 10`   |
| `+=`   | Add and assign               | `x += 5`   |
| `-=`   | Subtract and assign          | `x -= 3`   |
| `*=`   | Multiply and assign          | `x *= 2`   |
| `/=`   | Divide and assign            | `x /= 2`   |
| `%=`   | Modulus and assign           | `x %= 2`   |
| `**=`  | Exponent and assign          | `x **= 2`  |
| `//=`  | Floor divide and assign      | `x //= 2`  |

In [14]:
x = 10
x += 5
print(x)

15

#### 3. Comparison Operators

Used to compare two values. The result is `True` or `False`.

| Operator | Description                  | Example     |
|--------|------------------------------|-------------|
| `==`   | Equal to                     | `5 == 5`    |
| `!=`   | Not equal to                 | `5 != 3`    |
| `>`    | Greater than                 | `10 > 5`    |
| `<`    | Less than                    | `5 < 10`    |
| `>=`   | Greater than or equal to     | `5 >= 5`    |
| `<=`   | Less than or equal to        | `5 <= 10`   |

In [15]:
a = 10
b = 5

print(a > b)
print(a == b)

True
False

#### 4. Logical Operators

Used to combine conditional statements.

| Operator | Description                              | Example |
|--------|------------------------------------------|---------|
| `and`  | True if both conditions are true         | `a > 5 and a < 10` |
| `or`   | True if at least one condition is true   | `a > 5 or a < 3`  |
| `not`  | Reverses the result                      | `not(a > 5)`      |

In [16]:
age = 18

print(age > 15 and age < 21)
print(age < 15 or age > 17)
print(not age > 20)

True
True
True

#### 5. Identity Operators

Used to compare memory locations of objects.

| Operator | Description                              | Example |
|--------|------------------------------------------|---------|
| `is`   | True if both refer to same object        | `x is y` |
| `is not` | True if both refer to different objects | `x is not y` |

In [17]:
x = 10
y = 10

print(x is y)
print(x is not y)

True
False

#### 6. Membership Operators

Used to test if a value exists in a sequence.

| Operator | Description                          | Example |
|--------|--------------------------------------|---------|
| `in`   | True if value is present             | `"a" in "apple"` |
| `not in` | True if value is not present       | `"x" not in "apple"` |

In [18]:
numbers = [1, 2, 3, 4] #list

print(3 in numbers)
print(5 not in numbers)

True
True

#### 7. Operator Precedence

Determines the order in which operations are evaluated.

| Priority | Operator Type               | Operators |
|--------|-----------------------------|-----------|
| 1 | Parentheses                     | `( )` |
| 2 | Exponent                        | `**` |
| 3 | Multiplication / Division       | `* / // %` |
| 4 | Addition / Subtraction          | `+ -` |
| 5 | Comparison                      | `== != > < >= <=` |
| 6 | Logical                         | `and or not` |

In [ ]:
result_1 = 10 + 2 * 5
print(result_1)
#Using Parentheses:
result_2 = (10 + 2) * 5
print(result_2)

20
60

# <center> *End of Topic* </center>